.custom-table {
  width: 100%;
  border-collapse: collapse;
}
.custom-table th, .custom-table td {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  padding: 12px 8px 12px 8px;
}
.custom-table th {
  background: #f4f4f4;
  text-align: left;
}
